/* style hero */
#banner-title {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right, blue, purple);
  color: white;
  padding: 1.5rem;
}

/* style the search form */
#search-city {
  display: flex;
  flex-direction: column;
}

/* center the form text */
.card-title {
  text-align: center;
  margin: 0;
}

/* put space between the search input and 'search' button */
#submit-search {
  margin: 0.5rem 0;
}

/* create space between search history and other elements */
#search-history {
  margin: 1rem 1rem 0 1rem;
}

/* put space between search form and current day weather */
#search-form {
  margin: 0 1rem;
}

/* create space between current day weather and forecast */
#forecast {
  margin-top: 1rem;
}

/* hide bullet points on li elements */
li {
  list-style: none;
}

.search,
.forecast,
.history {
  border: none;
}

/* set size for weather icons */
img {
  width: 4rem;
  height: 4rem;
}

/* style forecast cards next to each other */
#forecast {
  flex-direction: row;
}
