/* style hero */
#banner-title {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom right, blue, purple);
  color: white;
  padding: 1.5rem;
}

/* style the search form */
#search-city {
  display: flex;
  flex-direction: column;
}

/* center the form text */
.card-title {
  text-align: center;
  margin: 0;
}

/* put space between the search input and 'search' button */
#submit-search {
  margin: 0.5rem 0;
}

/* put space between the search form and search history */
#search-history {
  margin-top: 1rem;
}
